* {
    margin: 0;
    background-color: #f1f1f1;
} 
.box {
    width: 400px;
    /* height: 200px; */
}
.box1 {
    background-color: orange;
    padding: 300px;
}
.box2 {
    background-color: skyblue;
    padding: 50px;
}
.box3 {
    background-color: lightgreen;
}
.all {
    display: flex;
    flex-wrap:wrap; 
    align-items: center;
    justify-content: space-;
    background-color: aqua;
}